In [1]:
import pandas as pd

In [2]:
#Data Collection
#Goal: Organize your data to streamline the next steps of your
#capstone

In [3]:
print('''The data source:
    https://www.kaggle.com/andrewmvd/okcupid-profiles''')

The data source:
    https://www.kaggle.com/andrewmvd/okcupid-profiles

In [4]:
dating_data = pd.read_csv('okcupid_profiles.csv')

In [5]:
print(dating_data.head(2))

   age  status sex orientation       body_type               diet    drinks  \
0   22  single   m    straight  a little extra  strictly anything  socially
1   35  single   m    straight         average       mostly other     often

       drugs                      education     ethnicity  ...  \
0      never  working on college/university  asian, white  ...
1  sometimes          working on space camp         white  ...

                                              essay0  \
0  about me:  i would love to think that i was so...
1  i am a chef: this is what that means. 1. i am ...

                                              essay1  \
0  currently working as an international agent fo...
1  dedicating everyday to being an unbelievable b...

                                              essay2  \
0  making people laugh. ranting about a good salt...
1  being silly. having ridiculous amonts of fun w...

                                              essay3  \
0  the way i look. i am a six foot half asian, ha...
1                                                NaN

                                              essay4  \
0  books: absurdistan, the republic, of mice and ...
1  i am die hard christopher moore fan. i don't r...

                                              essay5  \
0                  food. water. cell phone. shelter.
1  delicious porkness in all of its glories. my b...

                        essay6  \
0  duality and humorous things
1                          NaN

                                              essay7  \
0  trying to find someone to hang out with. i am ...
1                                                NaN

                                              essay8  \
0  i am new to california and looking for someone...
1  i am very open and will share just about anyth...

                                              essay9
0  you want to be swept off your feet! you are ti...
1                                                NaN

[2 rows x 31 columns]

In [6]:
# Data Organization
# Goal: Create a file structure and add your work to the GitHub
#repository youâ€™ve created for this project.

In [7]:
print('''The repo is here
https://github.com/Prathmun/DatingDataCapstone
''')

The repo is here
https://github.com/Prathmun/DatingDataCapstone

In [8]:
for header in dating_data.columns:
    if 'essay' not in header:
        print(header + ": is a: " + str(type(dating_data[header].values[2])) + " and it has *" + str(len(pd.unique(dating_data[header])))
             + "* unique values")

age: is a: <class 'numpy.int64'> and it has *54* unique values
status: is a: <class 'str'> and it has *5* unique values
sex: is a: <class 'str'> and it has *2* unique values
orientation: is a: <class 'str'> and it has *3* unique values
body_type: is a: <class 'str'> and it has *13* unique values
diet: is a: <class 'str'> and it has *19* unique values
drinks: is a: <class 'str'> and it has *7* unique values
drugs: is a: <class 'float'> and it has *4* unique values
education: is a: <class 'str'> and it has *33* unique values
ethnicity: is a: <class 'float'> and it has *218* unique values
height: is a: <class 'numpy.float64'> and it has *61* unique values
income: is a: <class 'numpy.int64'> and it has *13* unique values
job: is a: <class 'float'> and it has *22* unique values
last_online: is a: <class 'str'> and it has *30123* unique values
location: is a: <class 'str'> and it has *199* unique values
offspring: is a: <class 'float'> and it has *16* unique values
pets: is a: <class 'str'> and it has *16* unique values
religion: is a: <class 'float'> and it has *46* unique values
sign: is a: <class 'str'> and it has *49* unique values
smokes: is a: <class 'str'> and it has *6* unique values
speaks: is a: <class 'str'> and it has *7648* unique values

In [9]:
#don't need those essay columns for this project
droplist = []
for i in range(10):
    appendable = 'essay'+str(i)
    droplist.append(appendable)
dating_data = dating_data.drop(droplist, axis=1)

In [10]:
dating_data.dtypes

age              int64
status          object
sex             object
orientation     object
body_type       object
diet            object
drinks          object
drugs           object
education       object
ethnicity       object
height         float64
income           int64
job             object
last_online     object
location        object
offspring       object
pets            object
religion        object
sign            object
smokes          object
speaks          object
dtype: object

In [11]:
#What kind of data is this, are these categories?
for i in range(5):
    print(dating_data['offspring'].values[i])

doesn't have kids, but might want them
doesn't have kids, but might want them
nan
doesn't want kids
nan

In [12]:
#Yep. Categories

In [13]:
#What kind of data is this, are these categories?
for i in range(5):
    print(dating_data['pets'].values[i])

likes dogs and likes cats
likes dogs and likes cats
has cats
likes cats
likes dogs and likes cats

In [14]:
#Also yep.

In [15]:
#What kind of data is this, are these categories?
for i in range(5):
    print(dating_data['sign'].values[i])

gemini
cancer
pisces but it doesn&rsquo;t matter
pisces
aquarius

In [16]:
print(dating_data['sign'].value_counts())

gemini and it&rsquo;s fun to think about         1782
scorpio and it&rsquo;s fun to think about        1772
leo and it&rsquo;s fun to think about            1692
libra and it&rsquo;s fun to think about          1649
taurus and it&rsquo;s fun to think about         1640
cancer and it&rsquo;s fun to think about         1597
pisces and it&rsquo;s fun to think about         1592
sagittarius and it&rsquo;s fun to think about    1583
virgo and it&rsquo;s fun to think about          1574
aries and it&rsquo;s fun to think about          1573
aquarius and it&rsquo;s fun to think about       1503
virgo but it doesn&rsquo;t matter                1497
leo but it doesn&rsquo;t matter                  1457
cancer but it doesn&rsquo;t matter               1454
gemini but it doesn&rsquo;t matter               1453
taurus but it doesn&rsquo;t matter               1450
aquarius but it doesn&rsquo;t matter             1408
libra but it doesn&rsquo;t matter                1408
capricorn and it&rsquo;s fun to think about      1376
sagittarius but it doesn&rsquo;t matter          1375
aries but it doesn&rsquo;t matter                1373
capricorn but it doesn&rsquo;t matter            1319
pisces but it doesn&rsquo;t matter               1300
scorpio but it doesn&rsquo;t matter              1264
leo                                              1159
libra                                            1098
cancer                                           1092
virgo                                            1029
scorpio                                          1020
gemini                                           1013
taurus                                           1001
aries                                             996
pisces                                            992
aquarius                                          954
sagittarius                                       937
capricorn                                         833
scorpio and it matters a lot                       78
leo and it matters a lot                           66
cancer and it matters a lot                        63
aquarius and it matters a lot                      63
gemini and it matters a lot                        62
pisces and it matters a lot                        62
libra and it matters a lot                         52
taurus and it matters a lot                        49
aries and it matters a lot                         47
sagittarius and it matters a lot                   47
capricorn and it matters a lot                     45
virgo and it matters a lot                         41
Name: sign, dtype: int64

In [17]:
#Yep, thankfully more cats not freeform.

In [18]:
#What kind of data is this, are these categories?
for i in range(5):
    print(dating_data['speaks'].values[i])
print(len(pd.unique(dating_data['speaks'])))

english
english (fluently), spanish (poorly), french (poorly)
english, french, c++
english, german (poorly)
english
7648

In [19]:
# looks like cats because spellings are uniform, but more exploration required because the c++ is throwing me off. 
# Can probably be converted into categories though. There are only so many languages. 
#The unique count is huge, but with the combinations of possible languages and fluency, I'm still not convinced it can't be a 
#kind of categorical data

In [20]:
print(dating_data['last_online'].head())

0    2012-06-28-20-30
1    2012-06-29-21-41
2    2012-06-27-09-10
3    2012-06-28-14-22
4    2012-06-27-21-26
Name: last_online, dtype: object

In [21]:
#converting last online from strings to datetime objects. I kind of doubt we're going to use this column, but it seemed 
#tidy to convert it.
dating_data['last_online'] = pd.to_datetime(dating_data['last_online'], format='%Y-%m-%d-%H-%M')
print(dating_data['last_online'])
print(type(dating_data['last_online'].values[1]))

0       2012-06-28 20:30:00
1       2012-06-29 21:41:00
2       2012-06-27 09:10:00
3       2012-06-28 14:22:00
4       2012-06-27 21:26:00
                ...
59941   2012-06-12 21:47:00
59942   2012-06-29 11:01:00
59943   2012-06-27 23:37:00
59944   2012-06-23 13:01:00
59945   2012-06-29 00:42:00
Name: last_online, Length: 59946, dtype: datetime64[ns]
<class 'numpy.datetime64'>

In [22]:
#exploring turning a simple column into categories. IE: sex

print(dating_data['sex'].value_counts())
dating_data['sex'] = dating_data['sex'].astype('category')

print(dating_data['sex'])
print(type(dating_data['sex'].values[1]))

m    35829
f    24117
Name: sex, dtype: int64
0        m
1        m
2        m
3        m
4        m
        ..
59941    f
59942    m
59943    m
59944    m
59945    m
Name: sex, Length: 59946, dtype: category
Categories (2, object): ['f', 'm']
<class 'str'>

In [23]:
#converting the cleaner string columns into categories now that we've tested it. Leaving out Ethnicity, location 
#and speaks for now as they appear more complicated. We'll fiddle with them next. Jobs as well is a little unclear, we'll 
#explore that shortly as well.

dating_data['orientation'] = dating_data['orientation'].astype('category')
dating_data['body_type'] = dating_data['body_type'].astype('category')
dating_data['diet'] = dating_data['diet'].astype('category')
dating_data['drinks'] = dating_data['drinks'].astype('category')
dating_data['drugs'] = dating_data['drugs'].astype('category')
dating_data['education'] = dating_data['education'].astype('category')
dating_data['location'] = dating_data['location'].astype('category')
dating_data['pets'] = dating_data['pets'].astype('category')
dating_data['sign'] = dating_data['sign'].astype('category')
dating_data['smokes'] = dating_data['smokes'].astype('category')

In [24]:
#just checking to see if the above worked
dating_data.dtypes

age                     int64
status                 object
sex                  category
orientation          category
body_type            category
diet                 category
drinks               category
drugs                category
education            category
ethnicity              object
height                float64
income                  int64
job                    object
last_online    datetime64[ns]
location             category
offspring              object
pets                 category
religion               object
sign                 category
smokes               category
speaks                 object
dtype: object

In [25]:
#This was the first place I thought to check this, used it a lot in testing and constructing later functions
print(dating_data.shape)

(59946, 21)

In [26]:
#breaking out ethnicity from a crowded column to a set of binary columns. In theory for easy processing later.
ethnicity_df = pd.DataFrame(index=dating_data.index) 
pd.set_option('display.max_rows', 10)
#print(dating_data['ethnicity'].value_counts())
broken_out_count = {'nan': 0,}
for ethnicity in dating_data['ethnicity']:
    if type(ethnicity) == float:
        broken_out_count['nan'] +=1
    else:
        if "," in ethnicity:
            split_ethnic = ethnicity.split(',')
            for splitted in split_ethnic:
                stripped_split = splitted.strip()
                if stripped_split not in broken_out_count:
                    broken_out_count[stripped_split] = 0
                broken_out_count[stripped_split] += 1
        else:
            if ethnicity not in broken_out_count:
                broken_out_count[ethnicity] = 0
            broken_out_count[ethnicity] += 1

print(broken_out_count)
#print(dating_data['ethnicity'].value_counts())

ethnicity_set =set(broken_out_count.keys())
print(ethnicity_set)
ethnicity_columns = broken_out_count.copy()
for key in ethnicity_columns.keys():
    ethnicity_columns[key] = []
print(ethnicity_columns)
ethnicity_columns.pop('nan')

for row in dating_data['ethnicity']:
    if type(row) == float:
        for key in ethnicity_columns.keys():
            ethnicity_columns[key].append(0)
    elif type(row) == str:
        split_row = row.split(',')
        
        for index, item in enumerate(split_row):
            split_row[index] = item.strip()
        
        for key in ethnicity_columns.keys():
                if key in split_row:
                    ethnicity_columns[key].append(1)
                else:                    
                    ethnicity_columns[key].append(0)

for key, value in ethnicity_columns.items():
    ethnicity_df[key] = value
    ethnicity_df[key] = ethnicity_df[key].astype('category')
    
print(ethnicity_df.dtypes)

{'nan': 5680, 'asian': 8205, 'white': 37882, 'black': 3328, 'other': 3567, 'hispanic / latin': 5357, 'pacific islander': 1473, 'native american': 1265, 'middle eastern': 950, 'indian': 1449}
{'other', 'asian', 'native american', 'hispanic / latin', 'nan', 'black', 'indian', 'pacific islander', 'middle eastern', 'white'}
{'nan': [], 'asian': [], 'white': [], 'black': [], 'other': [], 'hispanic / latin': [], 'pacific islander': [], 'native american': [], 'middle eastern': [], 'indian': []}
asian               category
white               category
black               category
other               category
hispanic / latin    category
pacific islander    category
native american     category
middle eastern      category
indian              category
dtype: object

In [27]:
print(dating_data.head())

   age     status sex orientation       body_type               diet  \
0   22     single   m    straight  a little extra  strictly anything
1   35     single   m    straight         average       mostly other
2   38  available   m    straight            thin           anything
3   23     single   m    straight            thin         vegetarian
4   29     single   m    straight        athletic                NaN

     drinks      drugs                          education  \
0  socially      never      working on college/university
1     often  sometimes              working on space camp
2  socially        NaN     graduated from masters program
3  socially        NaN      working on college/university
4  socially      never  graduated from college/university

             ethnicity  ...  income                          job  \
0         asian, white  ...      -1               transportation
1                white  ...   80000         hospitality / travel
2                  NaN  ...      -1                          NaN
3                white  ...   20000                      student
4  asian, black, other  ...      -1  artistic / musical / writer

          last_online                         location  \
0 2012-06-28 20:30:00  south san francisco, california
1 2012-06-29 21:41:00              oakland, california
2 2012-06-27 09:10:00        san francisco, california
3 2012-06-28 14:22:00             berkeley, california
4 2012-06-27 21:26:00        san francisco, california

                                offspring                       pets  \
0  doesn't have kids, but might want them  likes dogs and likes cats
1  doesn't have kids, but might want them  likes dogs and likes cats
2                                     NaN                   has cats
3                       doesn't want kids                 likes cats
4                                     NaN  likes dogs and likes cats

                                   religion  \
0     agnosticism and very serious about it
1  agnosticism but not too serious about it
2                                       NaN
3                                       NaN
4                                       NaN

                                 sign     smokes  \
0                              gemini  sometimes
1                              cancer         no
2  pisces but it doesn&rsquo;t matter         no
3                              pisces         no
4                            aquarius         no

                                              speaks
0                                            english
1  english (fluently), spanish (poorly), french (...
2                               english, french, c++
3                           english, german (poorly)
4                                            english

[5 rows x 21 columns]

In [28]:
# now that we've one hot encoded our ethnicity category we can get rid of it entirely
dating_data.drop('ethnicity',axis=1, inplace=True)

In [29]:
pd.set_option('display.max_rows', 10)
import numbers
languages_set = set()

#Build set of uniques

for entry in dating_data['speaks'].values:
    if isinstance(entry, numbers.Number) is False:
        if " " in entry:
            split_list = entry.split()
            for word in split_list:
                languages_set.add(word)
        else:
            languages_set.add(entry)
            
anti_language_set = set()
fluency_set = set()
#build set of redundancies
for language in languages_set:
    if language[0] == "(":
        fluency_set.add(language) 
    if language[-1] == ',':
        anti_language_set.add(language) 

#remove redundancies        
for unlanguage in anti_language_set:
    languages_set.remove(unlanguage)
for fluency in fluency_set:
    if fluency in languages_set:
        languages_set.remove(fluency)    
    if fluency in anti_language_set:        
        anti_language_set.remove(fluency)

languages_set.remove('language')
languages_set.remove('ancient')
languages_set.remove('sign')
languages_set.add('ancient greek')
languages_set.add('sign language')
#display results        
print(fluency_set)
print(len(anti_language_set))
#present redundant languages alphabetically
ordered_unique_anti_languages = list(anti_language_set)
ordered_unique_anti_languages =sorted(ordered_unique_anti_languages )
print(ordered_unique_anti_languages )            
print(len(languages_set))
#present languages alphabetically
ordered_unique_languages = list(languages_set)
ordered_unique_languages = sorted(ordered_unique_languages)
for language in ordered_unique_languages:
    print(language)

{'(okay)', '(poorly),', '(poorly)', '(fluently),', '(okay),', '(fluently)'}
67
['afrikaans,', 'arabic,', 'basque,', 'belarusan,', 'bengali,', 'breton,', 'bulgarian,', 'c++,', 'catalan,', 'cebuano,', 'chechen,', 'chinese,', 'croatian,', 'czech,', 'danish,', 'dutch,', 'english,', 'esperanto,', 'estonian,', 'farsi,', 'finnish,', 'french,', 'frisian,', 'georgian,', 'german,', 'greek,', 'gujarati,', 'hawaiian,', 'hebrew,', 'hindi,', 'hungarian,', 'ilongo,', 'indonesian,', 'irish,', 'italian,', 'japanese,', 'khmer,', 'korean,', 'language,', 'latin,', 'lisp,', 'malay,', 'maori,', 'norwegian,', 'occitan,', 'other,', 'persian,', 'polish,', 'portuguese,', 'romanian,', 'rotuman,', 'russian,', 'sanskrit,', 'serbian,', 'slovak,', 'spanish,', 'swahili,', 'swedish,', 'tagalog,', 'tamil,', 'thai,', 'tibetan,', 'turkish,', 'ukrainian,', 'urdu,', 'vietnamese,', 'yiddish,']
77
afrikaans
albanian
ancient greek
arabic
armenian
basque
belarusan
bengali
breton
bulgarian
c++
catalan
cebuano
chechen
chinese
croatian
czech
danish
dutch
english
esperanto
estonian
farsi
finnish
french
frisian
georgian
german
greek
gujarati
hawaiian
hebrew
hindi
hungarian
icelandic
ilongo
indonesian
irish
italian
japanese
khmer
korean
latin
latvian
lisp
lithuanian
malay
maori
mongolian
norwegian
occitan
other
persian
polish
portuguese
romanian
rotuman
russian
sanskrit
sardinian
serbian
sign language
slovak
slovenian
spanish
swahili
swedish
tagalog
tamil
thai
tibetan
turkish
ukrainian
urdu
vietnamese
welsh
yiddish

In [30]:
#test to make sure our language list is complete. It is complete since this prints nothing
for unlanguage in anti_language_set:
    if unlanguage[:-1] not in languages_set:
        print(unlanguage)

language,

In [31]:
dating_data['speaks'].isna().sum()

50

In [32]:
print(dating_data['speaks'].head())

0                                              english
1    english (fluently), spanish (poorly), french (...
2                                 english, french, c++
3                             english, german (poorly)
4                                              english
Name: speaks, dtype: object

In [33]:
#this was mostly so I could reference the data structure while I was working on the following section. Commented out because
#when you view this on github you can't shrink the cell and it's absolutely gigantic.
#for row in dating_data['speaks']:
    #if type(row) != float:
     #   print(row.split(','))

In [34]:
#Here we're making language columns with numerical fluency values


#making dictionary of lists to become columns
language_columns = {}
for unique in languages_set:
    language_columns[unique] = []

language_df = pd.DataFrame(index=dating_data.index)    
    
for row in dating_data['speaks']:
    if type(row) != float:
        split_row = row.split(',')
        
        for language in languages_set:
            assignment_flag = 0
            
            for split_item in split_row:
                if assignment_flag == 0:
                    if language in split_item:
                        if 'fluently' in split_item:
                            language_columns[language].append(3)
                            assignment_flag = 1
                        elif 'okay' in split_item:
                            language_columns[language].append(2)
                            assignment_flag = 1
                        elif 'poorly' in split_item:
                            language_columns[language].append(1)
                            assignment_flag = 1
                        #we're assuming that if a fluency isn't specified they can be considered fluent. Domain knowledge suggests 
                        #non-specification indicates their native language.
                        else:
                            language_columns[language].append(3)
                            assignment_flag = 1
            if assignment_flag == 0:
                language_columns[language].append(0)
                        
    else:
        for language in languages_set:
            language_columns[language].append(0)

for key, value in language_columns.items():
    language_df[key] = value
    language_df[key] = language_df[key].astype('category')
    
print(language_df.dtypes)

japanese      category
tagalog       category
maori         category
arabic        category
latin         category
                ...
lithuanian    category
danish        category
spanish       category
lisp          category
norwegian     category
Length: 77, dtype: object

In [35]:
#now that we've one hot encoded our speaks column, we can get rid of it entirely.
dating_data.drop('speaks',axis=1, inplace=True)

In [36]:
#checking out jobs
print(dating_data['job'].value_counts())
#This is obviously categories so we'll just convert it right over.
dating_data['job'] = dating_data['job'].astype('category')

other                             7589
student                           4882
science / tech / engineering      4848
computer / hardware / software    4709
artistic / musical / writer       4439
                                  ...
rather not say                     436
transportation                     366
unemployed                         273
retired                            250
military                           204
Name: job, Length: 21, dtype: int64

In [37]:
#exploring location. Unsure if we want to turn this into categories or not.
import collections
#print(dating_data['location'].value_counts())
location_counter_dict = collections.OrderedDict()
for each in dating_data['location']:
    if 'california' in each:
        if each not in location_counter_dict:
            location_counter_dict[each] = 0
        location_counter_dict[each] += 1
        
sorted_california_locations = sorted(location_counter_dict.items(), key=lambda x: x[1], reverse= True)
for each in sorted_california_locations:
    print(each)

('san francisco, california', 31064)
('oakland, california', 7214)
('berkeley, california', 4212)
('san mateo, california', 1331)
('palo alto, california', 1064)
('alameda, california', 910)
('san rafael, california', 755)
('hayward, california', 747)
('emeryville, california', 738)
('redwood city, california', 693)
('daly city, california', 681)
('san leandro, california', 651)
('walnut creek, california', 644)
('vallejo, california', 558)
('menlo park, california', 479)
('richmond, california', 424)
('south san francisco, california', 416)
('mountain view, california', 384)
('novato, california', 369)
('burlingame, california', 361)
('pleasant hill, california', 347)
('castro valley, california', 345)
('stanford, california', 341)
('el cerrito, california', 325)
('pacifica, california', 323)
('martinez, california', 316)
('mill valley, california', 315)
('san bruno, california', 290)
('san pablo, california', 245)
('belmont, california', 243)
('albany, california', 233)
('san carlos, california', 227)
('benicia, california', 203)
('lafayette, california', 180)
('sausalito, california', 179)
('millbrae, california', 155)
('san anselmo, california', 147)
('el sobrante, california', 137)
('san lorenzo, california', 135)
('fairfax, california', 121)
('hercules, california', 117)
('pinole, california', 104)
('half moon bay, california', 99)
('fremont, california', 90)
('green brae, california', 87)
('orinda, california', 85)
('moraga, california', 84)
('larkspur, california', 80)
('corte madera, california', 76)
('belvedere tiburon, california', 57)
('atherton, california', 45)
('brisbane, california', 38)
('rodeo, california', 37)
('crockett, california', 32)
('el granada, california', 27)
('foster city, california', 24)
('kentfield, california', 18)
('woodacre, california', 16)
('east palo alto, california', 13)
('montara, california', 12)
('ross, california', 12)
('piedmont, california', 12)
('woodside, california', 11)
('westlake, california', 11)
('los angeles, california', 10)
('lagunitas, california', 10)
('san geronimo, california', 9)
('bolinas, california', 8)
('point richmond, california', 8)
('moss beach, california', 8)
('west oakland, california', 7)
('colma, california', 7)
('san diego, california', 6)
('santa cruz, california', 5)
('tiburon, california', 5)
('hillsborough, california', 4)
('stinson beach, california', 4)
('santa monica, california', 3)
('bayshore, california', 3)
('nicasio, california', 3)
('san jose, california', 2)
('petaluma, california', 2)
('san quentin, california', 2)
('sacramento, california', 2)
('kensington, california', 2)
('redwood shores, california', 2)
('forest knolls, california', 2)
('los gatos, california', 2)
('santa rosa, california', 2)
('irvine, california', 2)
('napa, california', 2)
('freedom, california', 1)
('hacienda heights, california', 1)
('riverside, california', 1)
('rohnert park, california', 1)
('canyon country, california', 1)
('glencove, california', 1)
('olema, california', 1)
('union city, california', 1)
('brea, california', 1)
('santa clara, california', 1)
('studio city, california', 1)
('concord, california', 1)
('seaside, california', 1)
('magalia, california', 1)
('orange, california', 1)
('sunnyvale, california', 1)
('ashland, california', 1)
('pasadena, california', 1)
('arcadia, california', 1)
('milpitas, california', 1)
('port costa, california', 1)
('livingston, california', 1)
('granite bay, california', 1)
('isla vista, california', 1)
('hilarita, california', 1)
('campbell, california', 1)
('santa ana, california', 1)
('north hollywood, california', 1)
('nevada city, california', 1)
('stockton, california', 1)
('marin city, california', 1)
('waterford, california', 1)
('muir beach, california', 1)
('pacheco, california', 1)
('canyon, california', 1)
('oceanview, california', 1)
('san luis obispo, california', 1)
('modesto, california', 1)
('costa mesa, california', 1)
('oakley, california', 1)
('chico, california', 1)
('south lake tahoe, california', 1)
('vacaville, california', 1)
('long beach, california', 1)

In [38]:

count_dict = collections.OrderedDict()
for row in dating_data['location']:
    split_row = row.split(',')
    stripped = split_row[1].strip()
    if stripped not in count_dict:
        count_dict[stripped] = 0
    count_dict[stripped] += 1
sorted_counts = sorted(count_dict.items(), key=lambda x: x[1], reverse= True)
print(sorted_counts)

[('california', 59855), ('new york', 17), ('illinois', 8), ('massachusetts', 5), ('oregon', 4), ('michigan', 4), ('texas', 4), ('arizona', 3), ('florida', 3), ('colorado', 2), ('hawaii', 2), ('virginia', 2), ('spain', 2), ('united kingdom', 2), ('minnesota', 2), ('georgia', 2), ('utah', 2), ('washington', 2), ('district of columbia', 2), ('ohio', 2), ('montana', 1), ('wisconsin', 1), ('nevada', 1), ('vietnam', 1), ('ireland', 1), ('louisiana', 1), ('north carolina', 1), ('idaho', 1), ('mississippi', 1), ('new jersey', 1), ('west virginia', 1), ('connecticut', 1), ('tennessee', 1), ('rhode island', 1), ('british columbia', 1), ('missouri', 1), ('germany', 1), ('pennsylvania', 1), ('netherlands', 1), ('switzerland', 1), ('mexico', 1)]

In [39]:
# The above is showing me that the city parameter is only really relevant within california... buuut most of my data
# exists within california

#Decided this isn't an interesting predictor, chopping it.

In [40]:
dating_data.drop('location', axis=1, inplace=True)

In [41]:

print(dating_data.dtypes)

age               int64
status           object
sex            category
orientation    category
body_type      category
                 ...
offspring        object
pets           category
religion         object
sign           category
smokes         category
Length: 18, dtype: object

In [42]:
#This was useful to set up to deal with the NaN values but it's unnecessary clutter for the external viewer. Leaving it in as 
#comments for posterities sake though.

#for each in dating_data.columns:
#    nantotal = dating_data[each].isna().sum()
#    if nantotal > 0:
#        print(each, nantotal)
#        print(dating_data[each].unique())
#        print(' ')

In [43]:
#Dealing with body type NaNs. There's already a "rather not say" category. I believe that a NaN value indicates that they just 
#didn't answer the question, which I'm comfortable imputing as 'rather not say', since they chose not to say and body type is 
#a question asked early on in the profile creation process.
print('bodytype', dating_data['body_type'].isna().sum())
dating_data['body_type'].fillna('rather not say', inplace=True)
print('bodytype', dating_data['body_type'].isna().sum())

bodytype 5296
bodytype 0

In [44]:
#Dealing with diet next. #Here I'm going to assume that if you didn't specify your diet it wasn't important to you. Which means 
# you're probably operating under the default american diet (most of our data comes from california), which means anything.
print('diet', dating_data['diet'].isna().sum())    
dating_data['diet'].fillna('anything', inplace=True)
print('diet', dating_data['diet'].isna().sum())

diet 24395
diet 0

In [45]:
#Next we're goign to look at drinks Here it's a little less clear what to impute. Stances on drinking can vary pretty wildly. 
#I'm going to take a safe position and make a new category 'unspecified' and call it good. Not answering the question might
#be a predictive behavior, who knows?
print('drinks', dating_data['drinks'].isna().sum())
dating_data['drinks'].cat.add_categories('unspecified', inplace=True)
dating_data['drinks'].fillna('unspecified', inplace=True)
print('drinks', dating_data['drinks'].isna().sum())

drinks 2985
drinks 0

In [46]:
#drugs next, here we're going to take the same approach as with drinking. Not specifying is it's own choice.
print('drugs', dating_data['drugs'].isna().sum())
dating_data['drugs'].cat.add_categories('unspecified', inplace=True)
dating_data['drugs'].fillna('unspecified', inplace=True)
print('drugs', dating_data['drugs'].isna().sum())

drugs 14080
drugs 0

In [47]:
#and now to education. We're going to default to unspecificed again. Education is important to a lot of people, not specifying 
#it is a choice, and it very well could be predictive.
print('education', dating_data['education'].isna().sum())
dating_data['education'].cat.add_categories('unspecified', inplace=True)
dating_data['education'].fillna('unspecified', inplace=True)
print('education', dating_data['education'].isna().sum())

education 6628
education 0

In [48]:
#print(dating_data.education.value_counts())

In [49]:
#next up is height. I'm going to drop the rows with NaN here, there's only three of them
print('height', dating_data['height'].isna().sum())
dating_data.dropna(subset=['height'], inplace=True)
print('height', dating_data['height'].isna().sum())

height 3
height 0

In [50]:
mask = dating_data.height < 24
dating_data.height[mask] = dating_data.height.mean()

<ipython-input-50-1ef6fbdcfc8d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dating_data.height[mask] = dating_data.height.mean()

In [51]:
pd.set_option('display.max_rows', 10)

In [52]:
#Jobs are up to bat! We're going to take advantage of the preexisting 'rather not say' category here. Again, employment is 
#important to most americans, choosing not to specify it is a noteworthy choice on a dating profile.
print('job', dating_data['job'].isna().sum())
dating_data['job'].fillna('rather not say', inplace=True)
print('job', dating_data['job'].isna().sum())

job 8196
job 0

In [1]:
# offspring now # we have a ton of NaNs here. Enough that it makes me skeptical of this column being predictive. 
# I defienitely can't drop rows with NaN here and I'm not quite ready to drop the column entirely, so we're going to go with 
# our trusty 'unspecified' category
print('offspring', dating_data['offspring'].isna().sum())
print("that's over half of our rows, I think it makes sense to drop this column entirely")
dating_data.drop('offspring', axis=1)

NameError: name 'dating_data' is not defined

In [54]:
#pets. Same problem and logic as offspring. Too many to just drop, and even though there's enough NaNs to make me question the 
#predictive power of the column as a whole I don't want to drop it wholesale, so 'unspecified' yet again
print('pets', dating_data['pets'].isna().sum())
dating_data['pets'].cat.add_categories('unspecified', inplace=True)
dating_data['pets'].fillna('unspecified', inplace=True)
print('pets', dating_data['pets'].isna().sum())

pets 19919
pets 0

In [55]:
# religion. Same logic/problem as before. There's a preexisting other category, but I think that's significantly different from 
# not specifiying, so we're going to throw in unspecified again
print('religion', dating_data['religion'].isna().sum())
dating_data['religion'].fillna('unspecified', inplace=True)
print('religion', dating_data['religion'].isna().sum())

religion 20223
religion 0

In [56]:
#smokes. This is the variable we're trying to predict. Makes 
print(dating_data.shape)
print('sign', dating_data['sign'].isna().sum())
dating_data['sign'].cat.add_categories('unspecified', inplace=True)
dating_data['sign'].fillna('unspecified', inplace=True)
print('sign', dating_data['sign'].isna().sum())
print(dating_data.shape)

(59943, 18)
sign 11054
sign 0
(59943, 18)

In [57]:
matter = []
doesnot = []
fun = []
remainder = []
for unique in dating_data.sign.unique():
    if unique.find('lot') != -1:
        matter.append(unique)
    elif unique.find('but') != -1:    
        doesnot.append(unique)        
    elif unique.find('fun') != -1:    
        fun.append(unique)
    else:
        remainder.append(unique)

    
print(matter)
print('SPACER')
print(doesnot)
print('SPACER')
print(fun)
print('SPACER')
print(remainder)
print('SPACER')

['scorpio and it matters a lot', 'libra and it matters a lot', 'leo and it matters a lot', 'cancer and it matters a lot', 'pisces and it matters a lot', 'aries and it matters a lot', 'capricorn and it matters a lot', 'aquarius and it matters a lot', 'sagittarius and it matters a lot', 'gemini and it matters a lot', 'taurus and it matters a lot', 'virgo and it matters a lot']
SPACER
['pisces but it doesn&rsquo;t matter', 'gemini but it doesn&rsquo;t matter', 'cancer but it doesn&rsquo;t matter', 'leo but it doesn&rsquo;t matter', 'aquarius but it doesn&rsquo;t matter', 'libra but it doesn&rsquo;t matter', 'taurus but it doesn&rsquo;t matter', 'sagittarius but it doesn&rsquo;t matter', 'virgo but it doesn&rsquo;t matter', 'capricorn but it doesn&rsquo;t matter', 'aries but it doesn&rsquo;t matter', 'scorpio but it doesn&rsquo;t matter']
SPACER
['aries and it&rsquo;s fun to think about', 'pisces and it&rsquo;s fun to think about', 'gemini and it&rsquo;s fun to think about', 'leo and it&rsquo;s fun to think about', 'cancer and it&rsquo;s fun to think about', 'libra and it&rsquo;s fun to think about', 'aquarius and it&rsquo;s fun to think about', 'scorpio and it&rsquo;s fun to think about', 'capricorn and it&rsquo;s fun to think about', 'sagittarius and it&rsquo;s fun to think about', 'taurus and it&rsquo;s fun to think about', 'virgo and it&rsquo;s fun to think about']
SPACER
['gemini', 'cancer', 'pisces', 'aquarius', 'taurus', 'virgo', 'sagittarius', 'unspecified', 'libra', 'scorpio', 'leo', 'aries', 'capricorn']
SPACER

In [58]:
#df.sign.value_counts()

#Okay, similar to religion. 12 categories, plus other and each category has 4 levels. Every cat/level combo has at least 700 members with the exception of the "Matters a lot" category. 
# the most populated being doesn'Doesn't Matter' and 'Fun to think about'. I'm going to collapse this into four categories based on intensity of feeling, and one for unspecified.

In [59]:
dating_data.sign.replace(to_replace=matter, value='Cares a lot', inplace=True)
dating_data.sign.replace(to_replace=doesnot, value='does not care', inplace=True)
dating_data.sign.replace(to_replace=fun, value='fun to think about', inplace=True)
dating_data.sign.replace(to_replace=remainder, value='just specified', inplace=True)

In [60]:
dating_data.sign.value_counts()

just specified        23177
fun to think about    19333
does not care         16758
Cares a lot             675
Name: sign, dtype: int64

In [61]:
#smokes. This is the variable we're trying to predict. Makes 
print(dating_data.shape)
print('smokes', dating_data['smokes'].isna().sum())
dating_data.dropna(subset=['smokes'], inplace=True)
print('smokes', dating_data['smokes'].isna().sum())
print(dating_data.shape)

(59943, 18)
smokes 5510
smokes 0
(54433, 18)

In [62]:
#Decided that the last online column won't be generalizable so we're going to drop it wholseale
dating_data = dating_data.drop('last_online', axis=1)

In [63]:
#it became evident that most of the income data is missing (-1) and without a way to impute that, I'm going to drop the column 
#wholesale.

dating_data= dating_data.drop('income', axis=1)

In [64]:
import pandas as pd
import os
import pickle
    
    
# This utility was created because students were getting confused when they ran 
# their notebooks twice, the previous write-to-file code would do nothing and say  
# nothing. The students thought the file was over-written when in fact, it was not -
# generating hidden bugs in subsequent notebooks.

def save_file(data, fname, dname):
    """Save a datafile (data) to a specific location (dname) and filename (fname)
    
    Currently valid formats are limited to CSV or PKL."""
    
    if not os.path.exists(dname):
        os.mkdir(dname)
        print(f'Directory {dname} was created.')
        
    fpath = os.path.join(dname, fname)
    
    
    if os.path.exists(fpath):
        print("A file already exists with this name.\n")

        yesno = None
        while yesno != "Y" and yesno != "N":
            yesno = input('Do you want to overwrite? (Y/N)').strip()[0].capitalize()
            if yesno == "Y":
                print(f'Writing file.  "{fpath}"')
                _save_file(data, fpath)
                break  # Not required
            elif yesno == "N":
                print('\nPlease re-run this cell with a new filename.')
                break  # Not required
            else:
                print('\nUnknown input, please enter "Y" or "N".')

    else:  # path does not exist, ok to save the file
        print(f'Writing file.  "{fpath}"')
        _save_file(data, fpath)
        
        
        
        
        
        
def _save_file(data, fpath):
    valid_ftypes = ['.csv', '.pkl']
    
    assert (fpath[-4:] in valid_ftypes), "Invalid file type.  Use '.csv' or '.pkl'"

    # Figure out what kind of file we're dealing with by name
    if fpath[-3:] == 'csv':
        data.to_csv(fpath, index=False)
    elif fpath[-3:] == 'pkl':
        with open(fpath, 'wb') as f:
            pickle.dump(data, f)

In [65]:
save_file(dating_data, 'wrangled_dating_data.csv', 'derived_data')

A file already exists with this name.


Please re-run this cell with a new filename.

In [66]:
save_file(language_df, 'wrangled_language_data.csv', 'derived_data')

A file already exists with this name.

Writing file.  "derived_data\wrangled_language_data.csv"

In [67]:
save_file(ethnicity_df, 'wrangled_ethnicity_data.csv', 'derived_data')

A file already exists with this name.


Please re-run this cell with a new filename.